body {
  margin: 0;
  text-align: center;
  font-family: 'Lexend Exa', sans-serif;
}

div {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-top: 0px;
  margin-right: 0px;
  background-color: #f0d78c;
  width: 100%;
}

/*
Class
*/

.topDiv {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-top: 0px;
  background-color: #f0d78c;
}

.midDiv {
  background-color: #fcfafa;
  height: 80px;
}

.lowDiv {
  background-color: #64c4ed;
  height: 120px;
}

.bottomDiv {
  background-color: #4f81c7;
  height: 400px;
}

/*
ID
*/

#topless {
  margin-top: 0px;
}

#sub {
  height: 80px;
  position: fixed;
}

#pika {
  position: absolute;
  top: -16px;
  right: 40px;
  padding-left: 36px;
  height: 200px;
}
